<a href="https://colab.research.google.com/github/klowimargarette/CPE009A-OOP/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Python Indetation

In [ ]:
if 5>2:

  print("Five is greater than 2")

Five is greater than 2

Python Comments

In [ ]:
if 5>2:
  print("Five is greater than two") #comparison of numbers

Five is greater than two

Phython Variable

In [ ]:
x=1 #This is a single variable with a value
a,b=0,-1

print(a)
print(b)
print(x)
b="Sally"


print(b)

0
-1
1
Sally

Python Casting

In [ ]:
b="sally" #This is a type of string
b=int(4)
print(b)

b=float(4)
print(b)

4
4.0

Type() Function

In [ ]:
x = 5
y ="John"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

Double Quotes or Single Quotes

In [ ]:
y="John"


print(y)
y = 'John'

print(y)

John
John

Case Sensitive

In [ ]:
a = 4
A = "Sally"
#A will not overwrite a

Multiple Variable with multiple values

In [ ]:
x,y,z="one","two","three"
print(x,y,z)

one two three

Output Variable

In [ ]:
x="enjoying"
print("Python programming is" + " " + x)

Python programming is enjoying

In [ ]:
x = "Python is"
y = "enjoying"
z = x + " " + y
print(z)

Python is enjoying

Arithmetic Operation

In [ ]:
x = 5
y = 3
print(x+y)

x+5
y=3
sum=x+y
sum

8

8

In [ ]:
a,b,c=0,-1,6
c%=3
c

0

In [ ]:
a,b,c=0,-1,5
a is a

True

In [ ]:
from google.colab import drive
drive.mount('/content/drive')